{% extends 'layout.html.twig' %}

{% block content %}
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>Database</th>
                <th>Collections</th>
                <th>Profiling</th>
            </tr>
        </thead>
        <tbody>
            {% for database, collections in databaseCollections|ksort %}
                <tr>
                    <td><a href="{{ path('database_profiles', { 'database': database }) }}">{{ database }}</a></td>
                    <td>{{ render(path('database_collections', { 'database': database })) }}</td>
                    <td>{{ render(path('database_profiling', { 'database': database })) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
